.git
.idea
node_modules
nbproject

# npm package files
iobroker.*.tgz

Thumbs.db

package-lock.json	
/package-lock.json

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

.vscode
.DS_Store
/shuttercontrol.njsproj
/todo.txt
*.orig
